body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

/* Avoid Calculation of Adding Previous Pixels */
* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}